<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Southern Stories</title>
    <link rel="stylesheet" href="/stories/stories.css">
</head>
<body>

    <div class="container">
        <header class="navbar">
            <h1 class="logo">Southern Stories</h1>

            <form action="" class="search-form">
                <input type="search" name="" placeholder="search here..." id="searchBox">
                <label for="searchBox" class="search"></label>
            </form>

            <nav class="navbar">
                <a href="#home">home</a>
                <a href="#contact">contact</a>
                <a href="#listCard">Order</a>
                
            </nav>

            <div class="iconCart">
                <img src="/shopping.gif">
                <div class="totalQuantity">0</div>
            </div>
        </header><br>
        
    <div class="home" id="home">

        <div class="image" data-aos="fade-down">
            <img src="/southern.png" alt="">
        </div>
    
        <div class="content" data-aos="fade-up">
            <h3>Southern Stories</h3>
            <p>Embark on a culinary journey to the heart of South India at Southern Stories. From fluffy idlis to crispy dosas and flavorful uttapams, we bring you authentic South Indian cuisine that's sure to tantalize your taste buds.</p>
            <a href="/home" class="btn">explore more</a>
        </div>
    
    </div>
        <h1 class="heading"> our <span>Foods</span> </h1>
        <div class="listProduct">

            <div class="item">
                <img src="images/1.webp" alt="">
                <h2>CoPilot / Black / Automatic</h2>
                <div class="price">$550</div>
                <button>Add To Cart</button>
            </div>

        </div>
    </div>

    <div class="cart">
        <h2>
            CART
        </h2>

        <div class="listCart">


            <div class="item">
                <img src="images/1.webp">
                <div class="content">
                    <div class="name">CoPilot / Black / Automatic</div>
                    <div class="price">$550 / 1 product</div>
                </div>
                <div class="quantity">
                    <button>-</button>
                    <span class="value">3</span>
                    <button>+</button>
                </div>
            </div>


        </div>

        <div class="buttons">
            <div class="close">
                CLOSE
            </div>
            <div class="checkout">
                <a href="storiescheck">CHECKOUT</a>
            </div>
        </div>
    </div>

    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>
    
        <form action="" data-aos="zoom">
    
            <div class="inputBox">
                <input type="text" placeholder="name" data-aos="fade-up">
                <input type="email" placeholder="email" data-aos="fade-up">
            </div>
    
            <div class="inputBox">
                <input type="number" placeholder="number" data-aos="fade-up">
                <input type="text" placeholder="subject" data-aos="fade-up">
            </div>
    
            <textarea name="" placeholder="your message" id="" cols="30" rows="10" data-aos="fade-up"></textarea>
            
            <input type="submit" value="send message" class="btn">
    
        </form>
    
    </section><br><br>

    <script src="/stories/stories.js"></script>
    
</body>
</html>